{% extends 'layout/main.html' %}
{% load static %}

{% block header %}
    <style>
        table {
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;
        }

        td {
            word-wrap: break-word;
        }

        th {
            word-wrap: break-word;
        }


    </style>
{% endblock %}
{% block section %}
    Customer List
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Filter</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="input-group col-md-12">
                                    <label>ID</label>
                                    <input type="number" class="form-control id-filter" placeholder="ID">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Type</label>
                                    <select class="form-control type-select" style="width: 100%;">
                                        <option selected="selected" value="">ALL</option>
                                        {% for type in customer_type %}
                                            <option value="{{ type.min }} {{ type.max }}">{{ type.type }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="input-group col-md-12">
                                    <label>Name</label>
                                    <input type="text" class="form-control name-filter" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group col-md-12">
                                    <label>Phone</label>
                                    <input type="text" class="form-control phone-filter" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group col-md-12">
                                    <label>Email</label>
                                    <input type="text" class="form-control email-filter" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group col-md-12">
                                    <label>Address</label>
                                    <input type="text" class="form-control address-filter" placeholder="Address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2" style="margin-top: 10px">
                                <button id="btn-filter" style="float: right;"
                                        class="btn btn-primary">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="box  box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Data</h3>
                        <div class="box-tools pull-right">
                            <a type="button" class="btn btn-box-tool" title="Add customer"
                               href="{% url 'QuanLyNhaSach:customers-add' %}"><i
                                    class="fa fa-user-plus text-info" style="font-size: 20px"></i>
                            </a>
                        </div>

                    </div>


                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width: 5%">ID</th>
                                <th style="width: 20%">Name</th>
                                <th style="width: 5%">Point</th>
                                <th style="width: 10%">Type</th>
                                <th style="width: 20%">Phone</th>
                                <th style="width: 20%">Email</th>
                                <th style="width: 20%">Address</th>

                            </tr>
                            </thead>
                            <tbody id="data-table">
                            </tbody>
                            <tfoot>
                            <tr>
                                <th style="width: 8%">ID</th>
                                <th style="width: 17%">Name</th>
                                <th style="width: 8%">Point</th>
                                <th style="width: 10%">Type</th>
                                <th style="width: 17%">Phone</th>
                                <th style="width: 17%">Email</th>
                                <th style="width: 20%">Address</th>

                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block script %}
    <script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>

    <script src="{% static "generate_regex.js" %}"></script>
    <script>


        $(document).ready(function () {

            let table = $('#example1').DataTable({
                "ajax": "/api/customers/?format=datatables",
                "serverSide": true,
                "order": [[0, 'desc']],
                "columnDefs": [
                    {"orderable": false, "targets": 3}
                ],
                "columns": [
                    {"data": "id", render: $.fn.dataTable.render.text()},
                    {
                        "data": "name", render: function (data, type, row) {
                            return '<a href="' + row['id'] + '/">' + data + '</a>'
                        }
                    },
                    {
                        "data": "point",
                        render: function (d) {
                            return '<small class="label bg-yellow" style="width:100%">' + d + '</small>'
                        }
                    },
                    {"data": "type.type", render: $.fn.dataTable.render.text()},
                    {
                        "data": "phone", render: function (d) {
                            return '<small class="label bg-blue" style="font-size:12px;">' + d + '</small>'
                        }
                    },
                    {"data": "email", render: $.fn.dataTable.render.text()},
                    {"data": "address", render: $.fn.dataTable.render.text()},


                ],
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "dom": "lrtip",
                "pageLength": 50,
                "search": {
                    "regex": true
                }
            });

            // Event listener to the two range filtering inputs to redraw on input

            $("#btn-filter").click(function () {


                table.search('')
                    .columns().search('')
                    .draw();

                var ref_control = {
                    ".id-filter": 0,
                    ".name-filter": 1,
                    ".phone-filter": 4,
                    ".email-filter": 5,
                    ".address-filter": 6
                }


                if ($(".type-select").val() != "") {
                    range = $(".type-select").val().toString().split(" ")
                    table.column(2).search("^\\b(" + toRegexRange(parseInt(range[0]), parseInt(range[1])) + ")\\b$", true, false, true).draw();
                    $(".type-select").val("")
                }
                for (cls in ref_control) {
                    if ($(cls).val() != "") {
                        table.column(ref_control[cls]).search($(cls).val()).draw();
                        $(cls).val("")
                    }
                }

            });
        });

    </script>
{% endblock %}
