{% extends 'layout/main.html' %}
{% load static %}

{% block header %}
    <style>
        table {
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;
        }

        td {
            word-wrap: break-word;
        }

        th {
            word-wrap: break-word;
        }


    </style>
{% endblock %}
{% block section %}
    <a href="{% url 'QuanLyNhaSach:stock-transfer-out' %}">Goods Receipt Note List</a>
    <i class="fa fa-fw  fa-angle-right"></i>
    {% if  note %}
        View
    {% else %}
        Add
    {% endif %}
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-lg-9">
                {% if not note %}
                    <div class="box box-solid box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Add Items</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">

                            </div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="input-group col-md-12">
                                        <label>Merchandise</label>
                                        <select id="merchandise-select"
                                                class="form-control select2 js-example-basic-single"
                                                data-placeholder="Select a State" style="width: 100%;" tabindex="-1"
                                                aria-hidden="true">
                                            <optgroup label="Book">
                                                {% for unit in books %}
                                                    <option value="{{ unit.id }}-{{ unit.price }}-{{ unit.available_count }}-{{ unit.name }}">{{ unit.id }}.{{ unit.name }}
                                                        - {{ unit.more_info }}</option>
                                                {% endfor %}
                                            </optgroup>
                                            <optgroup label="Stationery">
                                                {% for unit in stationeries %}
                                                    <option value="{{ unit.id }}-{{ unit.price }}-{{ unit.available_count }}-{{ unit.name }}">{{ unit.id }}.{{ unit.name }}
                                                        - {{ unit.more_info }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group col-md-12">
                                        <label>Count</label>
                                        <input type="number" min="1" value="1" id="count" class="form-control count"
                                               placeholder="Number of unit">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-10"></div>
                                <div class="col-md-2" style="margin-top: 10px">
                                    <button id="btn-filter" style="float: right;"
                                            class="add btn btn-primary">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endif %}

                <div class="box  box-primary" style="min-height: 300px">
                    <div class="box-header">
                        <h3 class="box-title">Goods Receipt Note Detail </h3>


                    </div>


                    <div class="box-body">
                        <table id="bill" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center">ST</th>
                                <th style="width: 45%" class="text-center">Product</th>
                                <th style="width: 15%" class="text-center">Price</th>
                                <th style="width: 15%" class="text-center">Count</th>
                                <th style="width: 15%" class="text-center">Total</th>
                                <th style="width: 30px" class="text-center"></th>

                            </tr>
                            </thead>
                            <tbody id="body-bill">

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">

                <div class="box  box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Goods Receipt Note</h3>


                    </div>
                    <div class="box-body">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Created at</b> <a class="pull-right">
                                <small class="label bg-green"
                                       style="font-size: 13px">{% if note %}
                                    {{ note.created_at|date:"d/m/Y H:i:s" }}{% else %} Now{% endif %}</small>
                            </a>
                            </li>
                            <li class="list-group-item">
                                <b>Created by</b> <a class="pull-right">
                                <small class="label bg-green"
                                       style="font-size: 13px"> {{ user.profile.display_name }}</small>
                            </a>
                            </li>
                            {% if not note %}
                                <li class="list-group-item">
                                    <b>Total</b> <a class="pull-right"><span id="total-display"
                                                                             class="text-green text-bold"
                                                                             style="font-size: 17px">0</span> VNĐ</a>
                                </li>
                            {% endif %}
                            {% if note %}
                                <li class="list-group-item">
                                    <b>Promotion code</b> <a class="pull-right">
                                    <small class="label bg-green"
                                           style="font-size: 13px"> {{ note.promotion.code }}</small>
                                </a>
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <b>Discount</b> <a class="pull-right"><span id="discount-display"
                                                                            class="text-green text-bold"
                                                                            style="font-size: 17px">0</span> VNĐ</a>
                            </li>
                            <li class="list-group-item">
                                <b>Final Total</b> <a class="pull-right"><span id="ftotal-display"
                                                                               class="text-green text-bold"
                                                                               style="font-size: 17px">0</span> VNĐ</a>
                            </li>
                            {% if not note %}
                                <li class="list-group-item">
                                    <label>Customer</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>

                                        <select id="customer"
                                                class="form-control type-select text-bold select2 js-example-basic-single"
                                                style="font-size: 15px" required>
                                            {% for customer in customers %}
                                                <option value="{{ customer.id }}">{{ customer.name }}</option>
                                            {% endfor %}
                                        </select>


                                    </div>
                                    <label>Promotion code</label>
                                    <small id="errormsg" class="text-red">Promotion code incorrect</small>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-ticket"></i></span>

                                        <input id="promotion-code" name="promotion_code" type="text"
                                               class="form-control"
                                               placeholder="promotion code">


                                    </div>
                                </li>


                                <button id="create" class="btn btn-primary"
                                        style="margin-top: 10px;float: right;">Create
                                </button>
                            {% else %}
                                <li class="list-group-item">
                                    <b>Customer</b> <span class="pull-right">
                                    <span id="dept-display"
                                          class="text-green text-bold"
                                          style="font-size: 17px">
                                    {{ note.customer.name }}
                                    </span>
                                    <a href="/customers/{{ note.customer.id }}/">
                                        <i class="fa fa-info-circle text-info"></i>
                                    </a>
                                </span>
                                </li>

                            {% endif %}


                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <input type="hidden" id="id_note">
{% endblock %}


{% block script %}
    <script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
    <script>

        {% if not note %}
            var count = $("#merchandise-select").val().split('-')[2]
            $('#count').val(1)
            $('#count').prop('max', count);
            $("#errormsg").hide()
            var select_item = {}
            var total_all = 0;
            var discount = 0;
            var min = 0;
            var id_promotion = -1;

            function render_row(raw_data, count) {
                $('#body-bill').html("");
                console.log(raw_data)
                data = raw_data.split('-');
                id = data[0];
                var unit_name = data.slice(3).join("-")
                price = data[1];
                item = {id: id, name: unit_name, price: price, count: count}
                if (select_item[id] == null) {
                    select_item[id] = item
                }
                else {
                    select_item[id].count += count
                }
                stt = 1;
                total_all = 0;
                Object.keys(select_item).forEach(function (key) {
                    console.log(key)
                    total = select_item[key].count * parseInt(select_item[key].price);
                    total_all += total
                    cls = stt % 2 == 0 ? 'even' : 'odd';
                    var template = `<tr id="${key}" role="row" class="${cls}"><td class="text-center">${stt}</td><td >${select_item[key].name}</td><td class="text-center">${select_item[key].price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}</td><td class="text-center">${select_item[key].count}</td><td class="text-center">${total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}</td><td><button value="${select_item[key].id}" class="close text-danger">×</button></td></tr>`
                    $('#body-bill').append(template)
                    stt++;
                });
                $("#total-display").html(total_all.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"))
                ftotal = total_all - discount;
                $('#ftotal-display').html(ftotal.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"))
                $(".close").click(function () {
                    id = $(this).val()
                    $("#" + id).remove()
                    delete select_item[id]
                    total_all = 0;
                    Object.keys(select_item).forEach(function (key) {
                        total = select_item[key].count * parseInt(select_item[key].price);
                        total_all += total
                    });
                    if (total_all < min) {
                        $('#promotion-code').val("")
                        discount = 0
                        $("#discount-display").html(discount.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"))
                    }
                    $("#total-display").html(total_all.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"))
                    ftotal = total_all - discount;
                    $('#ftotal-display').html(ftotal.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"))
                })
            }

            $(document).ready(function () {
                $('.select2').select2();
                $('#merchandise-select').change(function () {
                    var count = $(this).val().split('-')[2]
                    $('#count').val(1)
                    $('#count').prop('max', count);

                })
                $("#count").keyup(function () {
                    // Check correct, else revert back to old value.
                    if (!$(this).val() || (parseInt($(this).val()) <= $(this).prop('max') && parseInt($(this).val()) >= $(this).prop('min')))
                        ;
                    else {
                        $(this).val($(this).prop('max'));
                    }
                });
                $('#promotion-code').focusout(function (e) {
                    $.ajax({
                        type: "GET",
                        url: '/check/promotion/',
                        data: {"promotion_code": $(this).val(), "total": total_all},
                        headers: {
                            "X-CSRFToken": "{{csrf_token}}"
                        },
                        success: function (data) {
                            console.log(data.status)
                            if (data.status == 0) {
                                discount = 0
                                min = 0
                                $('#create').prop('disabled', false);
                                $('#errormsg').hide()
                            }
                            else if (data.status == 1) {
                                discount = 0
                                min = 0
                                $('#create').prop('disabled', true);
                                $('#errormsg').show()
                            }
                            else {
                                discount = data.value.discount;
                                min = data.value.min;
                                id_promotion = data.value.id;
                                $('#create').prop('disabled', false);
                                $('#errormsg').hide()
                            }
                            total_all = 0;
                            Object.keys(select_item).forEach(function (key) {
                                total = select_item[key].count * parseInt(select_item[key].price);
                                total_all += total
                            });
                            $("#total-display").html(total_all.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"))
                            $("#discount-display").html(discount.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"))
                            ftotal = total_all - discount;
                            $('#ftotal-display').html(ftotal.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"))
                        },
                        error: function () {

                        }


                    });
                    value = $(this).val();
                    if (value == "")
                        value = 0
                    paid = value
                    dept = total_all - paid
                    $('#dept-display').html(dept.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"))
                });

                $('.add').click(function () {
                    var raw_str = $("#merchandise-select").val()
                    count = parseInt($('.count').val() == "" ? 1 : $('.count').val())
                    render_row(raw_str, count);
                })


            });
            $('#create').click(function (e) {
                if (total_all == 0) {

                    $.notify({
                        // options
                        message: '<span style="font-size:15px;"> Can not create empty note </span>'
                    }, {
                        // settings
                        type: 'error'
                    });
                    throw new Error("Stop");
                }

                $.ajax({
                    type: "POST",
                    url: '/api/stocktransferouts/',
                    data: {
                        "customer": $('#customer').val(),
                        "promotion": id_promotion == -1 ? null : id_promotion,
                    },
                    headers: {
                        "X-CSRFToken": "{{csrf_token}}"
                    },
                    success: function (data) {
                        var items = new Array();
                        Object.keys(select_item).forEach(function (key) {
                            var item = {
                                "unit": key,
                                "count": select_item[key].count,
                                "inside": data.id
                            }
                            items.push(item)
                        });
                        console.log("ok");
                        $.ajax({
                            type: "POST",
                            url: '/api/stocktransferouts-detail/',
                            data: {"items": JSON.stringify(items)},
                            headers: {
                                "X-CSRFToken": "{{csrf_token}}"
                            },
                            success: function (data) {
                                console.log(data)
                            },
                            error: function () {

                            }


                        });

                        window.location.href = "{% url 'QuanLyNhaSach:stock-transfer-out-add' %}";

                    },
                    error: function () {
                        $.notify({
                            // options
                            message: '<span style="font-size:15px;"> Something went wrong</span>'
                        }, {
                            // settings
                            type: 'error'
                        });
                        throw new Error("Can't create note");
                    }

                });


            })
        {% else %}
            var total_all = {{ note.total }};
            var discount = "{{ note.promotion.money_discount }}"
            var select_item = {
                {% for note_detail in note_details %}

                    "{{ note_detail.id}}": {
                        name: "{{ note_detail.unit.name }}",
                        price: {{ note_detail.unit.price }},
                        count: {{ note_detail.count }}
                    },
                {% endfor %}
            }
            var stt = 1
            Object.keys(select_item).forEach(function (key) {
                total = select_item[key].count * parseInt(select_item[key].price);
                cls = stt % 2 == 0 ? 'even' : 'odd';
                var template = `<tr id="${key}" role="row" class="${cls}"><td class="text-center">${stt}</td><td >${select_item[key].name}</td><td class="text-center">${select_item[key].price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}</td><td class="text-center">${select_item[key].count}</td><td class="text-center">${total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}</td></tr>`
                $('#body-bill').append(template)
                stt++;
            });
            $("#discount-display").html(discount.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"))
            $('#ftotal-display').html(total_all.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"))
        {% endif%}


    </script>
{% endblock %}
