{% extends 'layout/main.html' %}
{% load static %}

{% block header %}
    <style>
        table {
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;
        }

        td {
            word-wrap: break-word;
        }

        th {
            word-wrap: break-word;
        }


    </style>
{% endblock %}
{% block section %}
    Goods Delivery Note List
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Filter</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="input-group col-md-12">
                                    <label>ID</label>
                                    <input type="number" class="form-control id-filter" placeholder="ID">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group col-md-12">
                                    <label>Created at</label>
                                    <input type="date" class="form-control created_at-filter" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group col-md-12">
                                    <label>Created by</label>
                                    <select class="form-control user-select" style="width: 100%;">
                                        <option selected="selected" value="">ALL</option>
                                        {% for user in user_list %}
                                            <option value="{{ user.id }}">{{ user.profile.display_name }}-{{ user.email }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group col-md-12">
                                    <label>Supplier</label>
                                    <select class="form-control supplier-select" style="width: 100%;">
                                        <option selected="selected" value="">ALL</option>
                                        {% for supplier in supplier_list %}
                                            <option value={{ supplier.id }}>{{ supplier.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2" style="margin-top: 10px">
                                <button id="btn-filter" style="float: right;"
                                        class="btn btn-primary">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="box  box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Data</h3>
                        <div class="box-tools pull-right">
                            <a type="button" class="btn btn-box-tool" title="Add type"
                               href="{% url 'QuanLyNhaSach:stock-transfer-in-add' %}"><i
                                    class="fa fa-plus text-info" style="font-size: 20px"></i>
                            </a>
                        </div>

                    </div>


                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width: 5%">ID</th>
                                <th style="width: 15%">Created at</th>
                                <th style="width: 20%">Created by</th>
                                <th style="width: 10%">Supplier</th>
                                <th style="width: 13%">Total</th>
                                <th style="width: 13%">Paid</th>
                                <th style="width: 13%">Dept</th>
                                <th style="width: 11%"></th>
                                <th hidden="hidden"></th>
                                <th hidden="hidden"></th>


                            </tr>
                            </thead>
                            <tbody id="data-table">
                            </tbody>
                            <tfoot>
                            <tr>
                                <th style="width: 10%">ID</th>
                                <th style="width: 10%">Created at</th>
                                <th style="width: 20%">Created by</th>
                                <th style="width: 10%">Supplier</th>
                                <th style="width: 13%">Total</th>
                                <th style="width: 13%">Paid</th>
                                <th style="width: 13%">Dept</th>
                                <th style="width: 10%"></th>
                                <th hidden="hidden"></th>
                                <th hidden="hidden"></th>

                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block script %}
    <script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>

    <script>


        $(document).ready(function () {

            let table = $('#example1').DataTable({
                "ajax": "/api/stocktransferins/?format=datatables",
                "serverSide": true,
                "order": [[0, 'desc']],
                "columns": [
                    {"data": "id", render: $.fn.dataTable.render.text()},
                    {
                        "data": "created_at", render: function (d) {
                            return '<small class="label bg-blue" style="font-size: 13px">' + moment(d).format("DD/MM/YYYY") + '</small> ' + moment(d).format("HH:mm:SS")
                        }
                    },
                    {
                        "data": "created_by__id", render: function (data, type, row) {
                            console.log(data)
                            return row['created_by_detail'].first_name + ' ' + row['created_by_detail'].last_name
                        }
                    },


                    {
                        "data": "supplier__id", render: function (data, type, row) {
                            return row['supplier_detail'].name
                        }
                    },
                    {
                        "data": "total", render: function (data, type, row) {
                            return '<span id="total-display" class="text-blue text-bold" style="font-size: 15px">' + data.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") + '</span> VNĐ</a>'
                        }
                    },
                    {
                        "data": "paid", render: function (data, type, row) {
                            return '<span id="total-display" class="text-green text-bold" style="font-size: 15px">' + data.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") + '</span> VNĐ</a>'
                        }
                    },
                    {
                        "data": "dept", render: function (data, type, row) {
                            return '<span id="total-display" class="text-red text-bold" style="font-size: 15px">' + data.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") + '</span> VNĐ</a>'
                        }
                    },
                    {
                        "data": "id", render: function (data, type, row) {
                            return '<a href="' + data + '/" class="btn btn-info">More info </a>'
                        }
                    },
                    {
                        "data": "created_by_detail", render: function (data, type, row) {
                            return ""
                        }
                    },
                    {
                        "data": "supplier_detail", render: function (data, type, row) {
                            return ""
                        }
                    },

                ],
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "dom": "lrtip",
                "pageLength": 50,
                "search": {
                    "regex": true
                }
            });

            // Event listener to the two range filtering inputs to redraw on input

            $("#btn-filter").click(function () {


                table.search('')
                    .columns().search('')
                    .draw();

                var ref_control = {
                    ".id-filter": 0,
                    ".created_at-filter": 1,
                    ".user-select": 2,
                    ".supplier-select": 3
                }

                for (cls in ref_control) {
                    if ($(cls).val() != "") {
                        table.column(ref_control[cls]).search($(cls).val()).draw();
                        $(cls).val("")
                    }
                }

            });
        });

    </script>
{% endblock %}
